html,
body {
  height: 100%;
}

body {
  background-image: url(./img/indexCover1920x1080dark.png);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 3.25rem;
  font-weight: 300;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-family: "Raleway", sans-serif;
  color: white;
}

nav {
  font-family: "Advent Pro", sans-serif;
  font-size: 2.25rem;
  margin: 3% 5%;
  width: 20%;
}

nav a {
  color: white;
  margin-right: 30px;
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

svg text {
  pointer-events: none;
}

/* .content {
  width: 100%;
  height: 100%;
} */

.svgContainer {
  margin: auto;
  width: 80%;
  height: 100%;
}

.redPlanet {
  position: absolute;
  bottom: 8%;
  left: 16%;
}

.redPlanet circle {
  stroke-opacity: 0;
  stroke-width: 2px;
  stroke: white;
  transition: all 1s ease;
}

.redPlanet circle:hover {
  stroke-opacity: 1;
  transition: all 1s ease;
}

.div {
  width: 50%;
}
.purplePlanet {
  /*  display: block; */

  position: absolute;
  bottom: -33%;
  right: 16%;
}

.purplePlanet circle {
  stroke-opacity: 0;
  stroke-width: 2px;
  stroke: white;
  transition: all 1s ease;
}

.purplePlanet circle:hover {
  stroke-opacity: 1;
  transition: all 1s ease;
}

.bluePlanet {
  width: 310px;
  position: absolute;
  top: 18%;
  left: 42%;
}

.bluePlanet circle {
  stroke-opacity: 0;
  stroke-width: 2px;
  stroke: white;
  transition: all 1s ease;
}

.bluePlanet circle:hover {
  stroke-opacity: 1;
  transition: all 1s ease;
}

.scale {
  z-index: 2;
  transform: scale(8);
  transition: transform 1s ease;
  pointer-events: none;
}

/* #####################################################################

### MIND PAGE STYLING


*/
#svgContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.mindMainTopicPlanet {
  position: absolute;

  top: 25%;

  /* left: 50%;
  top: 55%;
  transform: translate(-50%, -50%); */
}

.moon1 {
  position: absolute;
  right: 10%;
  bottom: 7%;
}

.moon2 {
  position: absolute;
  bottom: 10%;
  left: 17%;
}

.moon3 {
  position: absolute;
  top: 20%;
  left: 16%;
}

.moon4 {
  position: absolute;
  top: 10%;
  left: 45%;
}

.moon5 {
  position: absolute;
  top: 15%;
  right: 17%;
}

/* #####################################################################

### ANIMATIONS


*/
.content {
  animation: fadeIn 0.75s;
}

.fadeIn {
  animation: fadeIn 0.75s ease;
}

.fadeOut {
  animation: fadeOut 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* #####################################################################

### MEDIA QUERIES


*/

@media (max-width: 360px) {
}

@media (max-height: 750px) {
}

@media (max-height: 1070px) {
}

@media (max-width: 1280px) {
  .redPlanet {
  }
}
@media (max-width: 1330px) {
  .bluePlanet {
    z-index: 1;
  }
}

@media (max-width: 1800px) {
  /* .redPlanet {
    transform: scale(0.8);
    right: 3%;
  }

  .purplePlanet {
    left: 4%;
    bottom: -13%;
    transform: scale(0.95);
  }

  .bluePlanet {
    transform: scale(0.8);
  }*/
}

@media (max-width: 3000px) {
}
